body {
    background-color: antiquewhite;
}

h1 {
    font-style: italic;
    font-size: 120px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: center;
}

.card {
    border-radius: 0%;
    margin-top: 20px;
}

.list-group-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.list-group-item-input i {
    margin-right: 10px;
}

.list-group-item .btn-close {
    display: none;
    position: absolute;
    right: 10px;
}

.list-group-item:hover .btn-close {
    display: block;
}

.list-item-content {
    margin-left: 25px;
    flex: 1;
}

input {
    border: none;
    width: 100%;
    outline: none;
}

.card-footer {
    font-size: x-small;
    color: rgb(175, 175, 175);
    margin: 0%;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.card-footer i {
    margin-right: 5px;
}